.betpage{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        text-align: center;
    }
    form{
        align-items: center;
    }
}
.teams{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button{
    width: 100%;
    margin-top: 1rem;
}
.teamview{
    margin:1rem;
}
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }