header {
  width: 100%;
  display: flex;
  background-color: #b3860a;
  
  justify-content: space-between;
  align-items: center;
  overflow:scroll;

  h2 {
    font-size: 1.2rem;
  }
  img {
    /* get img bigger */
    height: 5rem;
    margin: 0.6rem;
  }
  //logout button at the end
  button {
    margin-left: auto;
    margin-right: 1rem;
    background-color: darkorchid;
    margin-top: 0.2rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: #b3860a;
      background-color: #fff;
    }
  }
  button-group{
    justify-content: end;
  }
}


