header {
  width: 100&;
  display: flex;
  background-color: #b3860a;
  justify-content: flex-start;
  align-items: center;
  h2 {
    font-size: 1.2rem;
  }
  img {
    /* get img bigger */
    height: 5rem;
    margin: 0.6rem;
  }
  //logout button at the end
  button {
    margin-left: auto;
    margin-right: 1rem;
    background-color: #b3860a;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: #b3860a;
      background-color: #fff;
    }
  }
}
